@media (max-width: 922px) {
    .promo {
        &__wrapper {
            align-items: center;
        }

        &__header {
            font-size: 35px;
        }

        &__subheader {
            font-size: 15px;
        }
    }

    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__item {

            &:not(:first-child){
                margin-top: 15px;
            }
        }
    }

    .consultation {
        .title {
            &--left {
                text-align: center;
                font-size: 18px;
            }
        }

        &__descr {
            text-align: center;
        }

        .feed-form {
            margin: 20px auto 0 auto;
        }
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;

        &__offical,
        &__contacts {
            margin-top: 10px;
        }
    }

    .carousel__inner {
        width: 450px;

        .slick-slide {
            img {
                width: 450px;
            }
        }
    }

    .feedback {
        &__item {
            flex-direction: column;
        }

        &__block {
            padding: 10px 20px 0 20px;
            text-align: center;
        }

        &__img {
            padding: 0 20px 10px 20px;
        }
    }
}